{% extends "layout.html" %}

{% block main %}

<main class="container p-5">

<h3> Transaction History </h3>

<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Transacted</th>
    </tr>
</thead>

<tbody>
    {% for  portfolio in portfolios %}
    <tr>
      <td>{{ portfolio[0] }}</td>
      <td>{{ portfolio[1] }}</td>
      <td>${{ portfolio[2] }}</td>
      <td>{{ portfolio[3] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>



</main>





{% endblock %}